library/ns/ymvc.xsd

<?xml version="1.0"?>
<xs:schema 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    targetNamespace="https://ydk2.tk/ymvc/ns" 
    xmlns="/ymvc/library/ns/ymvc.xsd" 
    elementFormDefault="qualified">
    <xs:element name="controller">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="description" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="path" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema> 